{% extends "auctions/layout.html" %}

{% block title %}
    Create a new lot
{% endblock %}

{% block body %}
    <h3 class="d-flex justify-content-center mb-3"> Create your lot</h3>
    <form class="mainformNewLot" action="{% url 'newlot' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formNewLot">
            {% for fielda in form %}
                {% if fielda.name == 'urlimage' %}
                    <div class="rowForms">
                            <label class="lotLabel" for="{{ field.name}}">{{ fielda.label }}:</label>
                            <div class="doublefield">
                                {{ fielda }} {{ form.image }}
                            </div>
                    </div>
                {% elif fielda.name == 'image' %}
                {% else %}    
                    <div class="rowForms">
                        <label class="lotLabel" for="{{ fielda.name}}">{{ fielda.label }}:</label>
                        {{ fielda }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="rowForms">
                <div class="lotLabel"></div>
                <input type="submit" name="submit" class="btn btn-primary">
            </div>           
        </div>        
    </form>
   
{% endblock %}
