{% extends "auctions/layout.html" %}

{% block title %}
        {{ lot.name }}
{% endblock %}

{% block body %}
    <div class="itemLotOuterPage">
        {% if messageGood %}
            <div class="alert alert-success text-center" role="alert">
                {{ messageGood }}
            </div>
        {% elif messageBad %}
            <div class="alert alert-danger text-center" role="alert">
                {{ messageBad }}
            </div>
        {% endif %}
        <div class="itemLotPage">
            <div class="itemLotInner">
                <h2 class="nameTextPage">
                    {{ lot.name }}  
                </h2>
                <hr>
                <div class="imageAndPanel">
                    <div class="imageUnitPage">
                        {% if lot.urlimage %}
                            <img src="{{ lot.urlimage }}">
                        {% else %}
                            <img src="/media/{{ lot.image }}">
                        {% endif %}
                    </div>
                    <div class="Panel">
                        <div class="Panel-row1">
                            <div class="row">
                                <div class="col ItemPanel">
                                    Starting bid: <div class="userAuthor">${{ lot.bid }}</div>
                                </div>
                                <div class="col ItemPanel">
                                    Created  by: <div class="userAuthor">{{ lot.author.username }}</div>
                                </div>
                            </div>
                            {% if lot.status %}
                                {% if UserBid %}
                                    <div class="row">
                                        <div class="col ItemPanel">
                                            Current bid: <div class="userAuthor">${{ UserBid.userBid }}</div>
                                        </div>
                                        <div class="col ItemPanel">
                                        {% if UserMaxBid %}
                                            Your last bid: <div class="userAuthor">${{ UserMaxBid.userBid }}</div>
                                        {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="row">
                                    <div class="col ItemPanel">
                                        <form action="{% url 'lotpage' lot.id %}" method="post">
                                            {% csrf_token %} 
                                            {{ bidform }}
                                    </div>
                                    <div class="col ItemPanel">
                                            <input type="submit" class="btn btn-info btn-sm" name="Make bid" value="Make bid">
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col ItemPanel">
                                        <form action="{% url 'lotpage' lot.id %}" method="post">
                                            {% csrf_token %} 
                                            {% if statusWatch == False %}
                                                <input type="submit" class="btn btn-success btn-sm" name="watchlistSwitch" value="Add to wishlist">
                                            {% elif statusWatch == True %}
                                                <input type="submit" class="btn btn-success btn-sm" name="watchlistSwitch" value="Delete from wishlist">
                                            {% endif %}
                                        </form>
                                    </div>
                                    <div class="col ItemPanel">
                                    {% if statusOwner %}
                                        <form action="{% url 'lotpage' lot.id %}" method="post">
                                            {% csrf_token %} 
                                            <input type="submit" class="btn btn-success btn-sm" name="closelot" value="Close the lot">
                                            </form>    
                                    {% endif %}
                                    </div>
                                </div>
                            {% else %}
                                {% if UserBid %}
                                <div class="row">
                                    <div class="col ItemPanel">
                                        Sold for: <div class="userAuthor">${{ UserBid.userBid }}</div>
                                    </div>
                                    <div class="col ItemPanel">
                                        {% if user == UserBid.author %}
                                        <p class = "congrat"> Congratulations! You won! </p>
                                        {% else %}        
                                        to: <span class="userAuthor">{{ UserBid.author }}</span> 
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                <div class="row">
                                    <div class="col ItemPanel">
                                        <p class = "congrat"> Lot closed, but unsold</p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}     
                        </div>
                        <div class="Panel-row2">
                            <div class="catItems">
                                {% for item in lot.category.all|dictsort:"name" %} 
                                    <div class="catItem">
                                        <a class="linkForCatPage" href="{% url 'catview' item.name %}"> {{item.name}} </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>   
                    </div>        
                </div>
                <p class="descrTextPage">
                    {{ lot.description }}
                </p>
                <div class="commentdiv">
                    {% for item in Comments %}
                        <div class="comment">
                            <p class="commentUser bidItem">
                                {{ item.author }}
                            </p> 
                            <p>
                                {{ item.comment }}
                            </p>
                        </div>
                    {% endfor %}
                    <form action="{% url 'lotpage' lot.id %}" method="post">
                        {% csrf_token %} 
                        {{ commentform }}
                        <input type="submit" name= "Make comment" class="btn btn-success btn-sm" value="Add comment">
                    </form>
                </div>              
            </div>
        </div>
    </div>

{% endblock %}