h1 {
    color: blue;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 2px;
    padding: 10px;
    text-align: left;
}

th {
    text-decoration: blue;
    border: 1px solid black ;
    padding: 2px;
    background-color: lightblue;
    padding: 10px;
}

div {
    margin-top: 50px;
}

input[type=button], input[type=submit] {
    border: 1px dotted #999;
    border-radius: 5;
    background-color: red;
  }

input[type=button], input[type=submit]:hover {
    background-color: green;
}

li {
    color: blue;
}

#mys {
    background-color: yellow;
}

a[href="/search/index.html"] {
    color: red;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

a:hover {
    color: #FF00FF;
  }

  