h1 {
    color: blue;
    text-align: center;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 10px;
}

td {
    border: 1px solid black;
    padding: 2px;
    background-color: lightblue;
}

th {
    border: 1px solid black ;
    padding: 2px;
    
}

div {
    margin-top: 50px;
}

input[type=button], input[type=submit] {
    border: 1px dotted #999;
    border-radius: 5;
    background-color: red;
  }

input[type=button], input[type=submit]:hover {
    background-color: green;
}

ul li {
    color: blue;
}

#mys {
    background-color: yellow;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }
  
