h1 {
    color: blue;
    text-align: center;
}
table {
    align-items: center;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 2px;
}

th {
    border: 1px solid black ;
    padding: 2px;
}

div {
    margin-top: 50px;
}

input {
    background-color: red;
    width: 200px;
    height: 50px;
    font-size: 24px;
}

input:hover {
    background-color: green;
}

ul li {
    color: blue;
}

#mys {
    background-color: yellow;
}
