@media (min-width: 600px) {
    body {
        background: black  url(img/kyiv_nigh.jpg) no-repeat; /* Цвет фона и путь к файлу */
        -moz-background-size: 100%; /* Firefox 3.6+ */
        -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
        -o-background-size: 100%; /* Opera 9.6+ */
        background-size: 100%; /* Современные браузеры */
        color: white; /* Цвет текста */
    }  
}
@media (max-width: 599px){
    body {
        background-color: rgb(214, 248, 240);
        color:  rgb(29, 29, 29);
    }
}

* {
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.topblock {
    background: transparent;
    width: auto;
    padding: 1em;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

.btn3 {
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 5px;
    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    box-sizing: border-box;
}
.btn3:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(200, 218, 236, 0.5);
    border: 1px solid transparent;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 5px;
    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    box-shadow: 1px 1px 5px grey;
    box-sizing: border-box;
}

.midleblock {
    background-color: transparent;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10%;
}

input.icon{
    background: url(img/magnifying-glass.png) no-repeat center left;
    padding-left:30px;
}

.imginput {
    position: absolute;
    width: 45px;
    height: 45px;
    padding-left: 1px;
    padding-top: 3px;
}



.midleform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.forminput {
    margin-top: 1px;
}
.forminput input:hover{
    border-radius: 25px;
    border-color:rgb(0, 0, 255);
    border-width: 2px;
    }
.maininput {
    position: relative;
    justify-content: center;
}
.radiusinput {
    border-radius: 25px;
    width: 410px;
    height: 45px;
}
.radiusinput:focus {
    outline: none;
    border: 2px blue solid;
    box-shadow: 0px 0px 3px #0066ff;
}

.formbutton {
    display: flex;
    margin-top: 35px;
    flex-direction: row;
}

.btnblue {
    cursor: pointer;
    margin-right: 0px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    border-radius: .25rem;
    color: black;
    background-color: #048cfcf3;
    border-color: #f8f9fa52;
}
.btnyellow {
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 14px;
    border-radius: .25rem;
    color: black;
    background-color: #f6fa08f3;
    border-color: #f8f9fa52;
}








.btn {
    width: 150px;
    cursor: pointer;
    margin-right: 0px;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: none;
    font-size: 16px;
    color:  rgb(29, 29, 29);
    background-color: white;
}
.btn:hover {
    cursor: pointer;
    margin-right: 1px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 0px solid transparent;
    box-shadow: 1px 1px 10px grey;
    padding: 1em 1em;
    font-size: 16px;
    border-radius: 50%;
    color:  rgb(29, 29, 29);
    background-color: rgba(200, 218, 236, 0.719);
}

.topblockleft {
    /*border: 10px ridge #f00;*/
    font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    text-align: left;
    font-weight: bold;
    color: #f6fa08f3;
    font-size: 14px;
    letter-spacing: 0.25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 56px;
    padding: 3px 10px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 20%;
}
.topblockright {
    /*border: 10px ridge rgb(0, 255, 42);*/
    width: 100%;
    padding: .1rem;
    display: flex;
    justify-content: flex-end;
    
}

.paramblock {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: arial,sans-serif;
}
.stroka {
    border-bottom: 1px solid #ebebeb;
}
.paramforma {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
}
.findepage {
    width: 100%;
    clear: both;
}
.findepage2 {
    clear: both;
}
.findepage-start {
    float:left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    font-size: 16px;
    min-height: 42px;
    font-weight: 500;
    color: #333;
    vertical-align: middle;
}
.findepage-null {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.findepage-end {
    float: left;
    display: inline-block;
    width: 33%;
    font-size: 13px;
    font-weight: 700;
    color: #777;
    padding-left: 5px;
    vertical-align: middle;
}
.findepage-start-2 {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}
.findepage_1 {
    float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}
.findepage_2 {
    float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}
.findepage_3 {
    float: left;
    display: inline-block;
    width: 32%;
    min-width: 160px;
    margin: 0 0 8px 1%;
    color: #555;
    font-size: 11px;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
}
.findepage_2_1 {
    padding-right: 16px;
}
.param-input {
    width: 100%;
    text-align: left;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
}
.lastword {
    color: #666;
    font-family: monospace;
    font-size: 11px;
    white-space: pre;
}
.stroka2 {
    margin: 18px 0;
    clear: both;
    border-top: 1px solid #ebebeb;
}
.findepage_2_2 {
    /*border: 10px ridge #f00;*/
    padding-right: 0px;
    text-align: right;
}
